top
  a(href="#about") about
  script(type="text/typescript").
    declare function require(string): any;
    const riot = require('riot')
    const router = require('riot-route')
    const Route = riot.router.Route
    const DefaultRoute = riot.router.DefaultRoute

    riot.router.routes([
      new DefaultRoute({tag: 'top'}),
      new Route({tag: 'about'})
    ]);

   riot.mount('*');
   riot.router.start();
