top
  a(href="#about") about
  script(type="text/typescript").
    import * as riot from ('riot');
    import * as router from ('riot-route');
    const Route = riot.router.Route;
    const DefaultRoute = riot.router.DefaultRoute;
    riot.router.routes([
      new Route({tag: 'top'}),
      new DefaultRoute({tag: 'about'})
    ]);
