top
  a(href="#about") about
  script(type="text/typescript").
    const riot = import('riot');
    const router = import('riot-route');
    const Route = riot.router.Route;
    const DefaultRoute = riot.router.DefaultRoute;
    riot.router.routes([
      new Route({tag: 'top'}),
      new DefaultRoute({tag: 'about'})
    ]);
