top
  a(href="#about") about
  script(type="text/typescript").
    declare function require(string): any;
    const riot = require('riot');
    const router = require('riot-route');
    const Route = riot.router.Route;
    const DefaultRoute = riot.router.DefaultRoute;
    riot.mount('*')
    riot.router.routes([
      new Route({tag: 'top'}),
      new DefaultRoute({tag: 'about'})
    ]);
    riot.rouer.start()
