extends ./index.pug

block header_content
  script(src='https://cdn.optimizely.com/js/2774940642.js')

block footer_content
  script.
    (function(t,n,e,i){var r=0;var o=e||50;var f=i||3;var a=false;function u(){return n.optimizely}function c(){return u().data}function l(){return c().state.redirectExperiment}function s(t){return c().experiments[t]}function d(){return u().activeExperiments}function h(t){return u().variationIdsMap[t]}function p(t){return s(t).section_ids}function v(t,n,e){if(typeof t!=="string"||typeof n!=="string"||typeof e!=="string"||e.length<1)return;if(/\?.+$/.test(t)){return t+"&"+n+"="+e}return"?"+n+"="+e}function y(t,n,e){var i=e.indexOf(n);if(i>=0){if(t){t+="_"+i}else{t=""+i}}return t}function g(e,i,r,o,f,a,u,g,m){try{if(l()){e=l().experimentId;if(d().indexOf(e)===-1){d().push(e)}}for(u=0;u<d().length;u++){e=d()[u];r=undefined;for(g=0;g<h(e).length;g++){i=h(e)[g];if(p(e).length){for(m=0;m<p(e).length;m++){r=y(r,i,c().sections[p(e)[m]].variation_ids)}}else{r=y(r,i,s(e).variation_ids)}}o=v(n.location.search,"optimizely_x"+e,r);if(o){f=o}}}catch(x){}finally{a=n.location.protocol+"//"+n.location.host+n.location.pathname+f+n.location.hash;if(a===n.location.href)a=undefined;n.ud("create",t,{overrideUrl:a});n.ud("analyze")}}function m(){try{if(c().state&&!a){g();a=true;return}}catch(t){}finally{if(r<f&&!a){setTimeout(m,o)}r++}}m()})(
      "484-892",window
    );
