extends ./index.pug

block header_content
  script(src='https://cdn.optimizely.com/js/2774940642.js')

block footer_content
  script.
    (function(t,n,i,e){var r=0;var o=i||50;var a=e||3;var f=false;function c(){return n.optimizely}function u(){return c().data}function l(t){return u().experiments[t]}function s(){return c().activeExperiments}function d(t){return c().variationIdsMap[t]}function h(t){return l(t).section_ids}function p(t,n,i){if(typeof t!=="string"||typeof n!=="string"||typeof i!=="string"||i.length<1)return;if(/\?.+$/.test(t)){return t+"&"+n+"="+i}return"?"+n+"="+i}function v(t,n,i){var e=i.indexOf(n);if(e>=0){if(t){t+="_"+e}else{t=""+e}}return t}function y(i,e,r,o,a,f,c,y,g){try{for(c=0;c<s().length;c++){i=s()[c];r=undefined;for(y=0;y<d(i).length;y++){e=d(i)[y];if(h(i).length){for(g=0;g<h(i).length;g++){r=v(r,e,u().sections[h(i)[g]].variation_ids)}}else{r=v(r,e,l(i).variation_ids)}}o=p(n.location.search,"optimizely_x"+i,r);if(o){a=o}}}catch(m){}finally{f=n.location.protocol+"//"+n.location.host+n.location.pathname+a+n.location.hash;if(f===n.location.href)f=undefined;n.ud("create",t,{overrideUrl:f});n.ud("analyze")}}function g(){try{if(u().state&&!f){y();f=true;return}}catch(t){}finally{if(r<a&&!f){setTimeout(g,o)}r++}}g()})(
      "484-892",window
    );
