extends ../index.pug

block loader
  script(src='//cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react-dom.js')

block content
  #content
  script(src='../assets/react.bundle.js')
