extends ./index.pug

block header_content
  script(data-kz-key='ad66ac199c5ff4ff', data-kz-namespace='kzs', src='//cdn.kaizenplatform.net/s/ad/66ac199c5ff4ff.js')

block footer_content
  script.
    (function(a,o,t,c){try{o.kzs=o.kzs||function(){var a=o.kzs;return(a.q||(a.q=[])).push(arguments)};o.kzs('getVariation',function(i,n){try{if(n==='decided'){t=o.location.search===''?'?':'&';c=o.location.protocol+'//'+o.location.host+o.location.pathname+o.location.search+t+'_kzs_var_id='+i.variationId+o.location.hash}}catch(e){}finally{if(n==='decided'||n==='unmatched'){o.ud('create',a,{overrideUrl:c});o.ud('analyze')}}})}catch(i){o.ud('create',a);o.ud('analyze')}})('10-732',window);
