extends ./index.pug

block header_content
  script(data-kz-key='ad66ac199c5ff4ff', data-kz-namespace='kzs', src='//cdn.kaizenplatform.net/s/ad/66ac199c5ff4ff.js')

block footer_content
  script.
    (function(a,t,o,c,i){o=o||{};try{a.kzs=a.kzs||function(){var t=a.kzs;return(t.q||(t.q=[])).push(arguments)};a.kzs("getVariation",function(n,e){try{if(e==="decided"){c=a.location.search===""?"?":"&";i=a.location.protocol+"//"+a.location.host+a.location.pathname+a.location.search+c+"_kzs_var_id="+n.variationId+a.location.hash}}catch(a){}finally{if(e==="decided"||e==="unmatched"){o.overrideUrl=i;a.ud("create",t,o);a.ud("analyze")}}})}catch(c){a.ud("create",t,o);a.ud("analyze")}})(
      window,"10-732"
    );
