extends ./index.pug

block header_content
  script(src='https://cdn.optimizely.com/js/2774940642.js')

block footer_content
  script.
    (function(t,n,e,i,r){var o=0;var a=false;i=i||50;r=r||3;e=e||{};function f(){return t.optimizely}function u(){return f().data}function c(){return u().state.redirectExperiment}function s(t){return u().experiments[t]}function l(){return f().activeExperiments}function d(t){return f().variationIdsMap[t]}function p(t){return s(t).section_ids}function h(t,n,e){if(typeof t!=="string"||typeof n!=="string"||typeof e!=="string"||e.length<1)return;if(/\?.+$/.test(t)){return t+"&"+n+"="+e}return"?"+n+"="+e}function y(t,n,e){var i=e.indexOf(n);if(i>=0){if(t){t+="_"+i}else{t=""+i}}return t}function g(i,r,o,a,g,m,v,I){try{f().push({type:"integration",OAuthClientId:6281051101});if(c()){i=c().experimentId;if(l().indexOf(i)===-1){l().push(i)}}for(m=0;m<l().length;m++){i=l()[m];o=undefined;for(v=0;v<d(i).length;v++){r=d(i)[v];if(p(i).length){for(I=0;I<p(i).length;I++){o=y(o,r,u().sections[p(i)[I]].variation_ids)}}else{o=y(o,r,s(i).variation_ids)}}a=h(t.location.search,"optimizely_x"+i,o)}}catch(t){}finally{if(a){e.overrideUrl=t.location.protocol+"//"+t.location.host+t.location.pathname+a+t.location.hash}t.ud("create",n,e);t.ud("analyze")}}function m(){try{if(u().state&&!a){g();a=true;return}}catch(t){}finally{if(o<r&&!a){setTimeout(m,i)}o++}}m()})(
      window,"484-892"
    );
