extends ../../../integration/index.pug

block header_content
  script.
    ud("create","10-732",{"cookieExpires":1});

block content
  #content

block footer_content
  script(src='../../../assets/react.bundle.js', async)
