script(type="text/typescript").
  declare function require(string): any;
  const riot = require('riot')
  const route = require('riot-route')
  route('/', function() {
    riot.mount('top', 'top')
  })
  route('/about', function() {
    riot.mount('top', 'about')
  })
  route.start(true)
