extends ../integration/index.jade

block footer_content 
  script.
    $("#about").on("click", function() {
      ud("changeVirtualUrl", "http://uncovertruth.github.io/examples/t/virtualurl.html")
    });
    ud("create", "10-732", { "cookieExpires": 1 });
    ud("changeVirtualUrl", window.location.href);
