extends ../integration/index.pug

block footer_content
  script.
    ud("create", "10-732", { "cookieExpires": 1});
    ud("analyze");
  script.
    var t1 = 'customVar1';
    var t2 = 'customVar2 sample';
    ud('setCustomVar', [
      t1, t2, "SampleVar3"
    ]);
