extends ../index.jade

block footer_content
  script.
    !function(e,t,n,c,r,u,s){e.USERDIVEObject=r,e[r]=e[r]||function(){(e[r].queue=e[r].queue||[]).push(arguments)},
    u=t.createElement(n),s=document.getElementsByTagName(n)[0],u.async=1,u.src=c,s.parentNode.insertBefore(u,s)
    }(window,document,"script","//harpoon3.userdive.com/static/UDTracker.js?" + new Date().getTime(),"ud");
    ud("create", "10-732", {
      "customVar": [
        "exampleStringValue",
        (function() { return "callbackString" })()
      ],
      "cookieExpires": 1,
    });
    ud("analyze");
