extends ../integration/index.pug

block footer_content
  script.
    /**
     * set custom variables before starting a track
     * @param  {string} "create" is function name, which initialize the Tracker
     * @param  {string} "10-732" ProjectId
     * @param  {Object} {"customVar": ["init"]} set a first custom variable, e.g,. "init" is set to customVar1
     * @return {void}
     */
    ud("create", "10-732", {
      "customVar": [
        "init"
      ]
    });
    ud("analyze");

  script.
    setTimeout(function () {
      /**
       * set custom variables after 5 minutes
       * @param  {string} "setCustomVar" api name
       * @param  {string[]} Update customvar, customVar1: "5 minites"
       * @return {void}
       */
      ud('setCustomVar', [
        "5 minitues"
      ]);
    }, 1000 * 60 * 5)

  script.
    $("#about").on("click", function() {
      /**
       * set custom variables when clicking #about
       * @param  {string} "setCustomVar" api name
       * @param  {string[]} Update customvar, customVar1: "click #about link"
       * @return {void}
       */
      ud("setCustomVar", [
        "click #about link",
      ]);
    });
