extends ./index.pug

block header_content
  script(src='//d.adlpo.com/493/831/js/smartadlpo.js', type="text/javascript")

block content
  .ADLPODefault
  script(type='text/javascript').
    adlpoMain('test','lc=os','ch=UTF-8');
