extends ./index.pug

block header_content
  script(data-kz-key="ad66ac199c5ff4ff", data-kz-namespace="kzs", src="//cdn.kaizenplatform.net/s/ad/66ac199c5ff4ff.js")

block footer_content
  script.
    (function(a,o){var t;var c;var i;try{t=o.kzs||function(){var a=o.kzs;return(a.q||(a.q=[])).push(arguments)};t("getVariation",function(t,n){try{if(n==="decided"){c=o.location.search===""?"?":"&";i=o.location.protocol+"//"+o.location.host+o.location.pathname+o.location.search+c+"_kzs_var_id="+t.variationId+o.location.hash}}catch(r){}finally{if(n==="decided"||n==="unmatched"){o.ud("create",a,{overrideUrl:i});o.ud("analyze")}}})}catch(n){o.ud("create",a);o.ud("analyze")}})(
      "10-732",window
    );
