extends ./index.jade

block header_content
  script(src='https://cdn.optimizely.com/js/2774940642.js')

block content
  script.
    (function(t,n,r,e){var i=r||50;var a=e||3;var o=false;var f=0;function u(){return n.optimizely}function c(){return u().data}function l(){return c().state.redirectExperiment}function s(t){return c().experiments[t]}function v(){return u().activeExperiments}function d(t){return u().variationIdsMap[t]}function h(t){return s(t).section_ids}function p(t,n,r){if(typeof t!=="string"||typeof n!=="string"||typeof r!=="string"||r.length<1)return;if(/\?.+$/.test(t)){return t+"&"+n+"="+r}return"?"+n+"="+r}function y(t,n,r){var e=r.indexOf(n);if(e>=0){if(t){t+="_"+e}else{t=""+e}}return t}function g(){var r;var e;var i;var a;var o;var f;var u;var g;var m;try{if(l()){r=l().experimentId;if(v().indexOf(r)===-1){v().push(r)}}for(e=0;e<v().length;e++){r=v()[e];o=undefined;for(i=0;i<d(r).length;i++){m=d(r)[i];if(h(r).length){for(a=0;a<h(r).length;a++){o=y(o,m,c().sections[h(r)[a]].variation_ids)}}else{o=y(o,m,s(r).variation_ids)}}f=p(n.location.search,"optimizely_x"+r,o);if(f){u=f}}}catch(x){}finally{g=n.location.protocol+"//"+n.location.host+n.location.pathname+u+n.location.hash;if(g===n.location.href)g=undefined;n.ud("create",t,{overrideUrl:g});n.ud("analyze")}}function m(){try{if(c().state&&!o){g();o=true;return}}catch(t){}finally{if(f<a&&!o){setTimeout(m,i)}f++}}m()})(
      "484-892",window
    );
