doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title USERDIVE examples
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    block loader
  body
    a(href='https://github.com/uncovertruth/examples')
      img(style='position: absolute; top: 0; right: 0; border: 0; z-index: 2000;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png', alt='Fork me on GitHub')
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') USERDIVE Integration example
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(id="about", href='#about') About
            li
              a(href='#contact') Contact
    .container
      block content


        //-   フォーム
        //- @media screen

        h1(class="text-center") Forms
        div(id="forms")
            div(class="well")
                div(class="form-group")
                    div(class="row")
                        h2 Text forms
                        div(class="cl-md-2")
                            label
                            p Name
                        div(class="cl-md-12")
                            input(type="textbox",class="form-controll container-fluid",placeholder="名前")

                        div(class="cl-md-2")
                            label
                            p Mail
                        div(class="cl-md-12")
                            input(type="textbox",class="form-controll container-fluid",placeholder="メールアドレス")

            div(class="well")
                h3 Radio buttons
                div(class="radio")
                    label
                        input(type="radio",name="optionsRadios",value="but")
                        | 1

                div(class="radio")
                    label
                        input(type="radio",name="optionsRadios",value="but")
                        | 2

                div(class="radio")
                    label
                        input(type="radio",name="optionsRadios",value="but")
                        | 3

            div(class="well")
                h3 Select box
                    select(class="form-control")
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5


            div(class="well")
                h3 Check box
                div(class="form-group")
                    input(type="checkbox")
                    | Check

            div(class="well")
                h3 Button
                div(class="form-group col-12")
                    button(type="submit",class="btn btn-default") Submit

            //- div(class="accoding-group")
            //-     div(clas="accoding-heading")
            //-         a(class="accodion-toggle",data-toggle="collapce",data-parent="#acco",href="#acco1")
            //-     div(id="acco1",class="accodion-body collapce")
            //-         div(class="accodion-inner")
            //-             p 本文1
            //-
            //- div(class="accoding-group")
            //-     div(clas="accoding-heading")
            //-         a(class="accodion-toggle",data-toggle="collapce",data-parent="#acco",href="#acco2")
            //-     div(id="acco2",class="accodion-body collapce")
            //-         div(class="accodion-inner")
            //-             p 本文2


            div(class="well")
                h3 Accordion menu
                div(class="accordion-group")
                    div(class="accordion-heading btn-lg bg-info btn-default")
                        a(class="accordion-toggle text-primary" data-toggle="collapse" data-parent="#faq" href="#acco1") Title1
                    div(id="acco1" class="accordion-body collapse")
                        div(class="accordion-inner bg-muted")
                            p There is a part of accordion menu.


                div(class="accordion-group")
                    div(class="accordion-heading btn-lg bg-info btn-default")
                        a(class="accordion-toggle text-primary" data-toggle="collapse" data-parent="#faq" href="#acco2") Title2
                    div(id="acco2" class="accordion-body collapse")
                        div(class="accordion-inner bg-muted")
                            p There is a part of accordion menu.

                div(class="accordion-group")
                    div(class="accordion-heading btn-lg bg-info btn-default")
                        a(class="accordion-toggle text-primary" data-toggle="collapse" data-parent="#faq" href="#acco3") Title3
                    div(id="acco3" class="accordion-body collapse")
                        div(class="accordion-inner bg-muted")
                            p There is a part of accordion menu.







    block footer_content
